<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Final</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Final.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Final</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarTagsDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Статьи
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarTagsDropDown">
                                <li><a class="text-dark dropdown-item" asp-area="" asp-controller="Articles" asp-action="Add">Добавить</a></li>
                                <li><a class="text-dark dropdown-item" asp-area="" asp-controller="Articles" asp-action="All">Все статьи</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarTagsDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Теги
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarTagsDropDown">
                                <li><a class="text-dark dropdown-item" asp-area="" asp-controller="Tags" asp-action="Add">Добавить</a></li>
                                <li><a class="text-dark dropdown-item" asp-area="" asp-controller="Tags" asp-action="All">Все теги</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarRolesDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Роли
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarRolesDropDown">
                                <li><a class="text-dark dropdown-item" asp-area="" asp-controller="Roles" asp-action="Add">Добавить</a></li>
                                <li><a class="text-dark dropdown-item" asp-area="" asp-controller="Roles" asp-action="All">Все роли</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarRolesDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Пользователи
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarRolesDropDown">
                                <li><a class="text-dark dropdown-item" asp-area="" asp-controller="Users" asp-action="All">Все пользователи</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="@Model.RegisterButtonController" asp-action="@Model.RegisterButtonAction">@Model.RegisterButtonName</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="@Model.LoginButtonController" asp-action="@Model.LoginButtonAction">@Model.LoginButtonName</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            CreatedBy Rusty Cucumber</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.cookie.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sha512.js" asp-append-version="true"></script>
    <script src="~/js/RegistrationForm.js" asp-append-version="true"></script>
    <script src="~/js/LoginForm.js" asp-append-version="true"></script>
    <script src="~/js/ChangeUserForm.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
