@{
    ViewData["Title"] = "All user";
}

@model UsersAllModel

<div class="text-center">
    <h1 class="display-4">Все пользователи</h1>
    <form id="changeUserForm" method="post">
        <div class="mb-3">
            <br />
            <br />
            <br />
            @foreach (var item in @Model._viewedUsers)
            {
                <div class="card start-50 translate-middle" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><a class="link" asp-area="" asp-controller="Users" asp-action="Modify" asp-route-id="@item.Id">@item.FullName</a></h5>
                        <br />
                        @foreach(var roleItem in item.Roles)
                        {
                            <span class="badge bg-primary">@roleItem.Name</span>
                        }
                        <span class="badge bg-primary">Primary</span>
                        <br />
                        <br />
                        <p class="card-text">Email: @item.Email</p>
                    </div>
                </div>
            }
            <br />
        </div>
    </form>
    <br />
</div>

